@model IEnumerable<MVCCoreProject.Models.ViewModels.ProductsViewModel>

@{
	ViewData["Title"] = "Index";
}

<h1>Ürün Listesi</h1>
<br />
<p>
	<a asp-action="Create" class="btn btn-primary">Ürün Ekle</a>
</p>
<table class="table table-striped">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.ProductName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.SupplierID)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CategoryID)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.QuantityPerUnit)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.UnitPrice)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.UnitsInStock)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.UnitsOnOrder)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ReorderLevel)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Discontinued)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.ProductName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.SupplierID)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.CategoryID)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.QuantityPerUnit)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.UnitPrice)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.UnitsInStock)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.UnitsOnOrder)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ReorderLevel)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Discontinued)
				</td>
				<td>
					<div class="btn-group" role="group" aria-label="Basic mixed styles example">
					<a asp-action="Edit" asp-route-id="@item.ProductID" class="btn btn-primary">Düzenle</a> 
					<a asp-action="Details" asp-route-id="@item.ProductID" class="btn btn-info">Detaylar</a> 
					<a asp-action="Delete" asp-route-id="@item.ProductID" class="btn btn-danger">Sil</a>
					</div>
				</td>
			</tr>
		}
	</tbody>
</table>
